%p#notice= notice

%p
  %b Song part:
  = @song_part_move.song_part_id
%p
  %b Order:
  = @song_part_move.order_id  
%p
  %b Move:
  = @song_part_move.move_id

= link_to 'Edit', edit_song_part_move_path(@song_part_move)
\|
= link_to 'Back', song_part_moves_path
